**/node_modules
**/dist
**/build
**/coverage
**/generated
**/.turbo
**/.vite
**/*.tsbuildinfo

.git
.github
.vscode
.idea

docs
infrastructure/data

**/.env
**/.env.*
!**/.env.example

**/playwright-report
**/test-results
**/*.log
